@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
	font-family: 'Varela Round', sans-serif;
	background-color: #f7f7f7;
}

.navbar {
	background: #fff;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	padding: 10px 16px;
}

.navbar .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
	letter-spacing: -1px;
	font-size: 20px;
	color: #000;
}
.navbar .navbar-brand strong{
    font-weight: 600;
    color: #dd5638;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #435d7d;
}

.fileinput {
	text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

ul.pagination {
	margin-bottom: 0;
}

.card-title {
    color: #fff;
    background: #435d7d;
    padding: 16px 20px;
}
.form-control.invalid-feedback{
    border: 1px solid #dc3545;
}
.invalid-feedback{
    display: block;
}
